<!DOCTYPE html>
<html lang="en">
    <head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		
		<title>Raspberry Pi 3 GPIO Pinout</title>
		<meta name="description" content="The comprehensive Add-on boards &amp; GPIO Pinout guide for the Raspberry Pi">
		<link href="{{ url_for('static', filename='Raspberry_Pi_GPIO_Pinout/css') }}" rel="stylesheet" type="text/css">
		<link href="{{ url_for('static', filename='Raspberry_Pi_GPIO_Pinout/prettify.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='Raspberry_Pi_GPIO_Pinout/font-awesome.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='Raspberry_Pi_GPIO_Pinout/pinout.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='Raspberry_Pi_GPIO_Pinout/print.css') }}" rel="stylesheet" media="print">
		<link rel="stylesheet" href="{{ url_for('static', filename='Raspberry_Pi_GPIO_Pinout/font-awesome.min.css') }}">
		<link rel="alternate" href="http://de.pinout.xyz/" hreflang="de">
		<link rel="alternate" href="http://pinout.xyz/" hreflang="en">
		<link rel="alternate" href="http://es.pinout.xyz/" hreflang="es">
		<link rel="alternate" href="http://fr.pinout.xyz/" hreflang="fr">
		<link rel="alternate" href="http://it.pinout.xyz/" hreflang="it">
		<link rel="alternate" href="http://pinout.xyz/" hreflang="pt">
		<link rel="alternate" href="http://tr.pinout.xyz/" hreflang="tr">
		<script async="" src="{{ url_for('static', filename='Raspberry_Pi_GPIO_Pinout/analytics.js') }}"></script><script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		  ga('create', 'UA-69846516-1', 'auto');
		  ga('send', 'pageview');
		</script>
	</head>
    
    <script type="text/javascript" src="{{ url_for('static', filename='Raspberry_Pi_GPIO_Pinout/jquery-1.9.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='Raspberry_Pi_GPIO_Pinout/prettify.js') }}"></script>
    <script src="{{ url_for('static', filename='Raspberry_Pi_GPIO_Pinout/lang-ruby.js') }}"></script>
    <script src="{{ url_for('static', filename='Raspberry_Pi_GPIO_Pinout/lang-bash.js') }}"></script>
    <script src="{{ url_for('static', filename='Raspberry_Pi_GPIO_Pinout/pinout.js') }}"></script>

    
	<body>
		<div id="container">
			<h1 class="logo">
                <a title="Raspberry Pi GPIO Pinout home" href="#">
                <img src="{{ url_for('static', filename='Raspberry_Pi_GPIO_Pinout/pinout-logo.png') }}" style="top:8px;">
                <span>Raspberry Pi</span>n<span class="out">out</span>
                </a></h1>
			<div id="leftcolumn">
			<nav id="gpio">
				<div id="pinbase"></div>
				
                
<ul class="bottom">
<li class="pin1 pow3v3">
    <a href="#" title="">
        <span class="default"><span class="phys">1</span> 3v3 Power</span>
        <span class="pin"></span>
    </a>
</li>
<li class="pin3 gpio i2c">
    <a href="#" title="Wiring Pi pin 8">
        <span><input id="pin_mode" name="3" type="checkbox" value="3"></span>
        <span><input id="pin_value" name="3" type="checkbox" value="3"></span>
        <span class="default"><span class="phys">3</span> BCM 2 <small>(SDA)</small></span>
        <span class="pin"></span>
    </a>
</li>
<li class="pin5 gpio i2c">
    <a href="#" title="Wiring Pi pin 9">
        <span><input id="pin_mode" name="5" type="checkbox"></span>
        <span><input id="pin_value" name="5" type="checkbox"></span>
        <span class="default"><span class="phys">5</span> BCM 3 <small>(SCL)</small></span>
        <span class="pin"></span>
    </a>
</li>
<li class="pin7 gpio">
    <a href="#" title="Wiring Pi pin 7">
        <span><input id="pin_mode" name="7" type="checkbox"></span>
        <span><input id="pin_value" name="7" type="checkbox"></span>
        <span class="default"><span class="phys">7</span> BCM 4 <small>(GPCLK0)</small></span>
        <span class="pin"></span>
    </a>
</li>
<li class="pin9 gnd">
    <a href="#" title="">
        <span class="default"><span class="phys">9</span> Ground</span>
        <span class="pin"></span>
    </a>
</li>
<li class="pin11 gpio">
    <a href="#" title="Wiring Pi pin 0">
        <span><input id="pin_mode" name="11" type="checkbox"></span>
        <span><input id="pin_value" name="11" type="checkbox"></span>
        <span class="default"><span class="phys">11</span> BCM 17 </span>
        <span class="pin"></span>
    </a>
</li>
<li class="pin13 gpio">
    <a href="#" title="Wiring Pi pin 2">
        <span><input id="pin_mode" name="13" type="checkbox"></span>
        <span><input id="pin_value" name="13" type="checkbox"></span>
        <span class="default"><span class="phys">13</span> BCM 27 </span>
        <span class="pin"></span>
    </a>    
</li>
<li class="pin15 gpio">
    <a href="#" title="Wiring Pi pin 3">
        <span><input id="pin_mode" name="15" type="checkbox"></span>
        <span><input id="pin_value" name="15" type="checkbox"></span>        
        <span class="default"><span class="phys">15</span> BCM 22 </span>
        <span class="pin"></span>
    </a>
</li>
<li class="pin17 pow3v3">
    <a href="#" title="">
        <span class="default"><span class="phys">17</span> 3v3 Power</span>
        <span class="pin"></span>
    </a>
</li>
<li class="pin19 gpio spi">
    <a href="#" title="Wiring Pi pin 12">
        <span><input id="pin_mode" name="19" type="checkbox"></span>
        <span><input id="pin_value" name="19" type="checkbox"></span>        
        <span class="default"><span class="phys">19</span> BCM 10 <small>(MOSI)</small></span>
        <span class="pin"></span>
    </a>
</li>
<li class="pin21 gpio spi">
    <a href="#" title="Wiring Pi pin 13">
        <span><input id="pin_mode" name="21" type="checkbox"></span>
        <span><input id="pin_value" name="21" type="checkbox"></span>        
        <span class="default"><span class="phys">21</span> BCM 9 <small>(MISO)</small></span>
        <span class="pin"></span>
    </a>
</li>
<li class="pin23 gpio spi">
    <a href="#" title="Wiring Pi pin 14">
        <span><input id="pin_mode" name="23" type="checkbox"></span>
        <span><input id="pin_value" name="23" type="checkbox"></span>        
        <span class="default"><span class="phys">23</span> BCM 11 <small>(SCLK)</small></span>
        <span class="pin"></span>
    </a>
</li>
<li class="pin25 gnd">
    <a href="#" title="">
        <span class="default"><span class="phys">25</span> Ground</span>
        <span class="pin"></span>
    </a>
</li>
<li class="pin27 gpio i2c">
    <a href="#" title="Wiring Pi pin 30">
        <span><input id="pin_mode" name="27" type="checkbox"></span>
        <span><input id="pin_value" name="27" type="checkbox"></span>        
        <span class="default"><span class="phys">27</span> BCM 0 <small>(ID_SD)</small></span>
        <span class="pin"></span>
    </a>
</li>
<li class="pin29 gpio">
    <a href="#" title="Wiring Pi pin 21">
        <span><input id="pin_mode" name="29" type="checkbox"></span>
        <span><input id="pin_value" name="29" type="checkbox"></span>        
        <span class="default"><span class="phys">29</span> BCM 5 </span>
        <span class="pin"></span>
    </a>
</li>
<li class="pin31 gpio">
    <a href="#" title="Wiring Pi pin 22">
        <span><input id="pin_mode" name="31" type="checkbox"></span>
        <span><input id="pin_value" name="31" type="checkbox"></span>        
        <span class="default"><span class="phys">31</span> BCM 6 </span>
        <span class="pin"></span>
    </a>
</li>
<li class="pin33 gpio">
    <a href="#" title="Wiring Pi pin 23">
        <span><input id="pin_mode" name="33" type="checkbox"></span>
        <span><input id="pin_value" name="33" type="checkbox"></span>        
        <span class="default"><span class="phys">33</span> BCM 13 <small>(PWM1)</small></span>
        <span class="pin"></span>
    </a>
</li>
<li class="pin35 gpio spi">
    <a href="#" title="Wiring Pi pin 24">
        <span><input id="pin_mode" name="35" type="checkbox"></span>
        <span><input id="pin_value" name="35" type="checkbox"></span>        
        <span class="default"><span class="phys">35</span> BCM 19 <small>(MISO)</small></span>
        <span class="pin"></span>
    </a>
</li>
<li class="pin37 gpio">
    <a href="#" title="Wiring Pi pin 25">
        <span><input id="pin_mode" name="37" type="checkbox"></span>
        <span><input id="pin_value" name="37" type="checkbox"></span>        
        <span class="default"><span class="phys">37</span> BCM 26 </span>
        <span class="pin"></span>
    </a>
</li>
<li class="pin39 gnd">
    <a href="#" title="">
        <span class="default"><span class="phys">39</span> Ground</span>
        <span class="pin"></span>
    </a>
</li>
</ul>
                
<ul class="top">
<li class="pin2 pow5v">
    <a href="#" title="">
        <span class="default"><span class="phys">2</span> 5v Power</span>
        <span class="pin"></span>
    </a>
</li>
<li class="pin4 pow5v">
    <a href="#" title="">
        <span class="default"><span class="phys">4</span> 5v Power</span>
        <span class="pin"></span>
    </a>
</li>
<li class="pin6 gnd">
    <a href="#" title="">
        <span class="default"><span class="phys">6</span> Ground</span>
        <span class="pin"></span>
    </a>
</li>
<li class="pin8 gpio uart">
    <a href="#" title="Wiring Pi pin 15">
        <span><input id="pin_mode" name="8" type="checkbox"></span>
        <span><input id="pin_value" name="8" type="checkbox"></span>        
        <span class="default"><span class="phys">8</span> BCM 14 <small>(TXD)</small></span>
        <span class="pin"></span>
    </a>
</li>
<li class="pin10 gpio uart">
    <a href="#" title="Wiring Pi pin 16">
        <span><input id="pin_mode" name="10" type="checkbox"></span>
        <span><input id="pin_value" name="10" type="checkbox"></span>        
        <span class="default"><span class="phys">10</span> BCM 15 <small>(RXD)</small></span>
        <span class="pin"></span>
    </a>
</li>
<li class="pin12 gpio">
    <a href="#" title="Wiring Pi pin 1">
        <span><input id="pin_mode" name="12" type="checkbox"></span>
        <span><input id="pin_value" name="12" type="checkbox"></span>        
        <span class="default"><span class="phys">12</span> BCM 18 <small>(PWM0)</small></span>
        <span class="pin"></span>
    </a>
</li>
<li class="pin14 gnd">
    <a href="#" title="">
        <span class="default"><span class="phys">14</span> Ground</span>
        <span class="pin"></span>
    </a>
</li>
<li class="pin16 gpio">
    <a href="#" title="Wiring Pi pin 4">
        <span><input id="pin_mode" name="16" type="checkbox"></span>
        <span><input id="pin_value" name="16" type="checkbox"></span>        
        <span class="default"><span class="phys">16</span> BCM 23 </span>
        <span class="pin"></span>
    </a>
</li>
<li class="pin18 gpio">
    <a href="#" title="Wiring Pi pin 5">
        <span><input id="pin_mode" name="18" type="checkbox"></span>
        <span><input id="pin_value" name="18" type="checkbox"></span>        
        <span class="default"><span class="phys">18</span> BCM 24 </span>
        <span class="pin"></span>
    </a>
</li>
<li class="pin20 gnd">
    <a href="#" title="">
        <span class="default"><span class="phys">20</span> Ground</span>
        <span class="pin"></span>
    </a>
</li>
<li class="pin22 gpio">
    <a href="#" title="Wiring Pi pin 6">
        <span><input id="pin_mode" name="22" type="checkbox"></span>
        <span><input id="pin_value" name="22" type="checkbox"></span>        
        <span class="default"><span class="phys">22</span> BCM 25 </span>
        <span class="pin"></span>
    </a>
</li>
<li class="pin24 gpio spi">
    <a href="#" title="Wiring Pi pin 10">
        <span><input id="pin_mode" name="24" type="checkbox"></span>
        <span><input id="pin_value" name="24" type="checkbox"></span>        
        <span class="default"><span class="phys">24</span> BCM 8 <small>(CE0)</small></span>
        <span class="pin"></span>
    </a>
</li>
<li class="pin26 gpio spi">
    <a href="#" title="Wiring Pi pin 11">
        <span><input id="pin_mode" name="26" type="checkbox"></span>
        <span><input id="pin_value" name="26" type="checkbox"></span>        
        <span class="default"><span class="phys">26</span> BCM 7 <small>(CE1)</small></span>
        <span class="pin"></span>
    </a>
</li>
<li class="pin28 gpio i2c">
    <a href="#" title="Wiring Pi pin 31">
        <span><input id="pin_mode" name="28" type="checkbox"></span>
        <span><input id="pin_value" name="28" type="checkbox"></span>        
        <span class="default"><span class="phys">28</span> BCM 1 <small>(ID_SC)</small></span>
        <span class="pin"></span>
    </a>
</li>
<li class="pin30 gnd">
    <a href="#" title="">
        <span class="default"><span class="phys">30</span> Ground</span>
        <span class="pin"></span>
    </a>
</li>
<li class="pin32 gpio">
    <a href="#" title="Wiring Pi pin 26">
        <span><input id="pin_mode" name="32" type="checkbox"></span>
        <span><input id="pin_value" name="32" type="checkbox"></span>        
        <span class="default"><span class="phys">32</span> BCM 12 <small>(PWM0)</small></span>
        <span class="pin"></span>
    </a>
</li>
<li class="pin34 gnd">
    <a href="#" title="">
        <span class="default"><span class="phys">34</span> Ground</span>
        <span class="pin"></span>
    </a>
</li>
<li class="pin36 gpio">
    <a href="#" title="Wiring Pi pin 27">
        <span><input id="pin_mode" name="36" type="checkbox"></span>
        <span><input id="pin_value" name="36" type="checkbox"></span>        
        <span class="default"><span class="phys">36</span> BCM 16 </span>
        <span class="pin"></span>
    </a>
</li>
<li class="pin38 gpio spi">
    <a href="#" title="Wiring Pi pin 28">
        <span><input id="pin_mode" name="38" type="checkbox"></span>
        <span><input id="pin_value" name="38" type="checkbox"></span>        
        <span class="default"><span class="phys">38</span> BCM 20 <small>(MOSI)</small></span>
        <span class="pin"></span>
    </a>
</li>
<li class="pin40 gpio spi">
    <a href="#" title="Wiring Pi pin 29">
        <span><input id="pin_mode" name="40" type="checkbox"></span>
        <span><input id="pin_value" name="40" type="checkbox"></span>        
        <span class="default"><span class="phys">40</span> BCM 21 <small>(SCLK)</small></span>
        <span class="pin"></span>
    </a>
</li>
</ul>
</nav>
    </div>
        <div id="pages">

<p><a href="{{ url_for('static', filename='Raspberry_Pi_GPIO_Pinout/raspberry-pi-pinout.png') }}">
    <img alt="Graphical Raspberry Pi GPIO Pinout" src="{{ url_for('static', filename='Raspberry_Pi_GPIO_Pinout/raspberry-pi-pinout.png') }}">
    </a>
</p>
        </div>   <!-- end of pages div -->
		  	
    </div>

<script type="text/javascript">
$(document).ready(function(){
    $(document).on("click", "input:checkbox[id=pin_mode]", function(){
        var chkbox = $(this);
        var pin_no = chkbox.attr('name');
        var pin_value = chkbox.val();                
        console.log("pin_no:" + pin_no + " is checked:" + chkbox.is(":checked"));
        $.post('/set_gpio_mode',
            {
                no: pin_no,
                mode: (chkbox.is(":checked") ? 1:0)
            },
            function( data, status ){
                console.log(status);
                console.log("data:" + data );
                chkbox.prop('checked', data == 'true');
            }
        );
    });     // end of pin_mode clicked event handler
    $(document).on("click", "input:checkbox[id=pin_value]", function(){
        var chkbox = $(this);
        var pin_no = chkbox.attr('name');
        var pin_value = chkbox.val();
        console.log("pin_no:" + pin_no + " value:" + chkbox.is(":checked"));
        $.post('/set_gpio_value',
            {
                no      : pin_no,
                value   : (chkbox.is(":checked") ? 1:0)
            },
            function( data, status ){
                console.log(status);
                console.log("data:" + data);
                chkbox.prop('checked', data == 'true');
            }
        );
    });     // end of pin_value clicked event handler

});   // end of ready function

function request_gpio_status(){
    console.log("request_gpio_status");
    $.getJSON( "/gpio_status", refresh_gpio_status );
}   // end of request_gpio_status
function refresh_gpio_status(data){
    console.log(data);
    $.each(data, function(i, item){
        console.log("no:" + data[i].no + " name:" + data[i].name + " value:" + data[i].value);
    });  // end each
    
}   // end of refresh_gpio_status
    
</script>
</body> 
</html>